<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section type="Rock.Logging.LoggerSectionHandler, Rock.Logging"
             name="rock.logging" />
  </configSections>
  
  <rock.logging loggingLevel="Debug" isLoggingEnabled="true">
    <formatters>
      <formatter type="Rock.Logging.SerializingLogFormatter, Rock.Logging"
                 name="xml">
        <serializer type="Rock.Serialization.XmlSerializerSerializer, Rock.Core" />
      </formatter>
    </formatters>
    <categories>
      <category name="Default">
        <providers>
          <provider type="Rock.Logging.RollingFileLogProvider, Rock.Logging"
                    file="C:\Temp\rolling\log.txt" />
          <provider type="Rock.Logging.ConsoleLogProvider, Rock.Logging"
                    formatter="xml" />
          <provider type="Rock.Logging.EmailLogProvider, Rock.Logging"
                    toEmail="myapplicationerrors@quickenloans.com"
                    fromEmail="myapplication@quickenloans.com"
                    subject="{level} {environment}: My Application on {machineName}" />
        </providers>
      </category>
    </categories>
  </rock.logging>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\Temp\mail\"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>