<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section type="Rock.Logging.LoggerSectionHandler, Rock.Logging"
             name="rock.logging" />
  </configSections>
  
  <rock.logging loggingLevel="Debug" isLoggingEnabled="true">
    <auditLogProvider type="Rock.Logging.ConsoleLogProvider, Rock.Logging"
                      formatter="xml"/>
    <formatters>
      <formatter type="Rock.Logging.SerializingLogFormatter, Rock.Logging"
                 name="xml">
        <serializer type="Rock.Serialization.XmlSerializerSerializer, Rock.Core" />
      </formatter>
      <formatter name="default" template="Message: {message}\nException:\n{exception}" />
    </formatters>
    <throttlingRules>
      <throttlingRule name="Default" minInterval="00:05:00" minEventThreshold="1" />
      <throttlingRule name="Throttle" minInterval="00:01:00" minEventThreshold="1" />
    </throttlingRules>
    <categories>
      <category name="Default" throttlingRule="Default">
        <providers>
          <provider type="Rock.Logging.RollingFileLogProvider, Rock.Logging"
                    file="C:\Temp\rolling\log.txt"
                    formatter="xml"
                    loggingLevel="Warn" />
          <provider type="Rock.Logging.ConsoleLogProvider, Rock.Logging"
                    formatter="default"
                    loggingLevel="Error" />
          <provider type="Rock.Logging.EmailLogProvider, Rock.Logging"
                    toEmail="myapplicationerrors@quickenloans.com"
                    fromEmail="myapplication@quickenloans.com"
                    subject="{level} {environment}: My Application on {machineName}"
                    loggingLevel="Fatal" />
        </providers>
      </category>
    </categories>
  </rock.logging>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\Temp\mail\"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>