<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Immutable" version="1.1.20-beta" targetFramework="net45" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Reflectinator" version="0.0.8" targetFramework="net45" />
  <package id="Rock.Core" version="0.0.1-alpha014" targetFramework="net45" />
  <package id="Sprache" version="1.10.0.36" targetFramework="net45" />
  <package id="Syringe" version="0.0.1" targetFramework="net45" />
  <package id="Syringe.AutoMock.Moq" version="0.0.1" targetFramework="net45" />
</packages>