<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="rock.logging" type="Rock.Logging.LoggerSectionHandler, Rock.Logging" />
  </configSections>

  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="Rock.ApplicationId.Current" value="201740" />
    <add key="Rock.Environment.Current" value="Dev" />
  </appSettings>

  
  <rock.logging loggingLevel="Debug" isLoggingEnabled="true">
    <formatters>
      <formatter name="fileFormatter" template="[{createTime}] - {level} - {message} {newLine}{tab}{tab}- Exception: {exception}" />
    </formatters>
    <categories>
      <category name="Default">
        <providers>
          <provider type="Rock.Logging.RollingFileLogProvider, Rock.Logging" 
          maxFileSizeKilobytes="1024" maxArchiveCount="5" 
          formatter="fileFormatter" loggingLevel="Debug" file="c:\path to file\file.rolling.log" />
        </providers>
      </category>
    </categories>
  </rock.logging>


</configuration>